@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Londrina Solid';
  src: url('/font/LondrinaSolid-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
